			{% include header-cap.html %}
               <div class="header">
                    <h1>The Blog of Seth Tompkins</h1>
                    <h2><a href="https://twitter.com/TheSethTompkins" class="fa fa-twitter" target="blank"></a>&nbsp;</h2><h2><a href="http://www.linkedin.com/pub/seth-tompkins/57/a74/62/" class="fa fa-linkedin" target="blank"></a>&nbsp;</h2><h2><a href="https://github.com/SethTompkins" class="fa fa-github" target="blank"></a>&nbsp;</h2><h2><a href="mailto:seth@sethtompkins.com" class="fa fa-envelope" target="blank"></a></h2>
               </div>